/* mobile-first */
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #303030;
  --gray-side-navbar: #0e0e0ed0;
  --main-red: #e50914;
  --sec-red: #b00710;
  --border-radius-value: 30px;
  --sidenavbar-input-width: 80%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
body {
  background-color: var(--white);
  height: 200vh;
  overflow-x: hidden;
}
.body-darkmode {
  background: var(--gray);
}
.none {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
/* utilities */
.container {
  width: 100%;
  margin: 0px auto;
  padding-right: 10px;
  padding-left: 10px;
}
.show-sideNavbar {
  transform: translateX(0) !important;
}
/* ********************* */
/***** header area ******/
/* ******************* */
header {
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.nav-wrapper {
  display: flex;
  align-items: center;
}
.darkmode {
  width: 25px;
  height: 25px;
}
.hamburger {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
/* navbar */
.Navbar-wrapper {
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
  position: fixed;
  inset: 0;
  background: var(--gray-side-navbar);
  backdrop-filter: blur(6px);

  text-align: center;
  padding-top: 180px;
}
/* close navbar btn */
.navbar-close {
  position: fixed;
  top: 20px;
  right: 20px;
}
.navbar-close-btn-img {
  width: 30px;
  height: 30px;
}
/* home */
.home-li {
  margin-bottom: 30px;
}
.home-link {
  color: var(--main-red);
  font-size: 2rem;
}
.home-link:hover {
  text-decoration: underline;
  color: var(--main-red);
}
/* search */
.input-li {
  margin-bottom: 30px;
}
.search-input {
  width: var(--sidenavbar-input-width);
  padding: 15px 5px 15px 15px;
  border-radius: var(--border-radius-value);
  border: none;
  text-transform: capitalize;
}
.search-input:focus {
  outline: none;
}
/* movies-option */
.movies-option-li {
  margin-bottom: 30px;
}
.movies-option {
  width: var(--sidenavbar-input-width);
  padding: 15px 5px 15px 15px;
  border-radius: var(--border-radius-value);
  border: none;
}
.movies-option:focus {
  outline: none;
}
/* episode-option */
.episode-option {
  width: var(--sidenavbar-input-width);
  padding: 15px 5px 15px 15px;
  border-radius: var(--border-radius-value);
  border: none;
}
.episode-option:focus {
  outline: none;
}
/* ********************* */
/*** responsive queries */
/* ******************* */
/* xs */
@media screen and (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
/* md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media screen and (min-width: 1024px) {
  :root {
    --sidenavbar-input-width: 200px;
    --border-radius-value: 5px;
  }
  .container {
    max-width: 1024px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-close-btn-img {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .darkmode-wrapper {
    order: 1;
    margin-left: 20px;
  }
  .Navbar-wrapper {
    display: flex;
    align-items: center;
    position: static;
    transform: translate(0);
    background: none;
    backdrop-filter: none;
    padding-top: 0;
  }
  .Navbar-wrapper > li {
    margin-left: 20px;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
  }
  .home-link {
    font-size: 1rem !important;
  }
  .home-li {
    margin-bottom: 0px;
  }
  .input-li {
    margin-bottom: 0px;
  }
  .movies-option-li {
    margin-bottom: 0px;
  }
  .search-input {
    width: var(--sidenavbar-input-width);
    padding: 8px 8px 8px 10px;
    border-radius: var(--border-radius-value);
    border: none;
    text-transform: capitalize;
    background: #b2b2b2;
  }
  .movies-option {
    width: var(--sidenavbar-input-width);
    padding: 8px 8px 8px 10px;
    border-radius: var(--border-radius-value);
    border: none;
    background: #b2b2b2;
  }
  .episode-option {
    width: var(--sidenavbar-input-width);
    padding: 8px 8px 8px 10px;
    border-radius: var(--border-radius-value);
    border: none;
    background: #b2b2b2;
  }
}
/* xl */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* 2xl */
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
